@media (max-width: 1024px) {
  .responsive-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 770px) {
  .responsive-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
